<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "French verb deconjugator") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "jquery", "jquery.masonry", "application" %>
    <%= yield(:head) %>    
    <meta name="description" content="Enter any French verb in any conjugated form and get the original verb as well as all other conjugations." />
    <meta name="keywords" content="French verb deconjugator, french verbs, verb, conjugation, deconjugation, French verb conjugator, French verb tenses, verb conjugation, verb deconjugation, French language, learn French, practice French" />
    
    <%= render :partial => "shared/google_analytics" %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%= yield %>
    </div>
    
    <div style="height: 100px"></div>
    
    <div id="footer">
        <div class="social_link">
          <script src="http://www.stumbleupon.com/hostedbadge.php?s=5&r=http://deconjugate.fr"></script>      
        </div>
        <div class="social_link">
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://deconjugate.fr" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
        </div>
        <div class="social_link">
          <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fdeconjugate.fr&amp;layout=box_count&amp;show_faces=true&amp;width=70&amp;action=like&amp;font=trebuchet+ms&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:70px; height:65px;" allowTransparency="true"></iframe>      
        </div>
    </div>
  </body>
</html>
