<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "French verb deconjugator") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag "jquery", "jquery.masonry", "application" %>
    <%= yield(:head) %>    
    <meta name="description" content="Enter any French verb in any conjugated form and get the original verb as well as all other conjugations." />
    <meta name="keywords" content="French verb deconjugator, french verbs, verb, conjugation, deconjugation, French verb conjugator, French verb tenses, verb conjugation, verb deconjugation, French language, learn French, practice French" />
    
    <%= render :partial => "shared/google_analytics" %>
  </head>
  <body>
    <div id="container">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%> 
      
      <%= yield %>
    </div>
    
    <div style="height: 100px"></div>
    
    <div id="footer">
      <div id="self-esteem">
        This guy is great!
      </div>
      <div id="author">
        <%= link_to "Made with love by Andrés Mejía", "http://andr.esmejia.com" %>
      </div>
    </div>
  </body>
</html>
